<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.itcast.odh.smsreposter">


    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>




    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"></uses-permission>
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"></uses-permission>



    <application
        android:allowBackup="true"
        android:icon="@drawable/iconred"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.CallingSettingActivity"  android:screenOrientation="portrait"></activity>

<activity android:name=".activity.SettingsActivity" android:screenOrientation="portrait">

    <meta-data android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.MainActivity"></meta-data></activity>

<activity android:name=".activity.SplashActivity" android:screenOrientation="portrait"></activity>
<activity android:name=".activity.MainActivity"  android:screenOrientation="portrait"></activity>
<activity android:name=".activity.helpActivity"  android:screenOrientation="portrait"></activity>

        <service android:name=".service.MainService"></service>

        <receiver android:name=".receiver.ScreenStatusReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"></action>
                <action android:name="android.intent.action.SCREEN_OFFO"></action>

            </intent-filter>

        </receiver>


    </application>

</manifest>